.view-user-con {
    background: white;
    min-height: 100vh;
    display: none;

    .user-image {
        height: 7vh;
        width: 7vh;
        border-radius: 50%;

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }
    }

    .user-name-location {
        span {
            font-size: 10px;
        }
    }
}

#createTaskCon {
    input {
        font-size: 12px;

        &::placeholder {
            font-size: 12px;
        }
    }

    button {
        font-size: 12px;
    }
}
#viewTaskCon {
    max-height: 30vh;
    #task-list {
        li {
            font-size: 12px;
            padding: 10px;
        }
    }
}