// Imports
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import "media-queries";

@mixin footer-links {
  background: inherit;
  color: #e3e1e7be;
  border: none;
  font-size: 14px;
  word-wrap: break-word;
}

// input, button, select{
//   font-size: 15px !important;
//   font-weight: 600px !important;
// }
// input::placeholder {
//   font-size: 15px !important;
//   font-weight: 600px !important;
// }
textarea {
  font-size: 15px !important;
  font-weight: 600px !important;
}

textarea::placeholder {
  font-size: 15px !important;
  font-weight: 600px !important;
}

#navbarSupportedContent ul li a {
  font-size: 15px;
  margin-right: 35px;
}


// Scrollbar styles
.scroller {
  overflow-y: scroll;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    color: black;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #343a40;
    box-shadow: inset 0 0 6px #343a40;
  }
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.bold {
  font-weight: bold;
}

.grey {
  color: grey;

  @include small-screens {
    font-size: 12px;
  }
}

.btn-brand {
  color: white;
  background: #0b273d;

  &:hover {
    color: #0b273d;
    background: white;
    border: 1px solid #0b273d;
  }
}

.btn-brand-outline {
  color: #0b273d;
  background: white;
  border: 1px solid #0b273d;

  &:hover {
    color: white;
    background: #0b273d;
  }
}

.br-10px {
  border-radius: 10px;
}

.font-12px {
  font-size: 12px;
}

.border-brand {
  border: 1px solid rgba(11, 39, 61, 0.7);
}

.data-key {
  font-size: 0px;
}

// Navbar styling
.navbar-brand {
  display: flex;
  color: white !important;
  margin-left: 3vw;
  font-size: 18px;

  .logo-replace {
    height: 33.15px;
    width: 33.15px;
    background: transparent;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.our-nav {
  background: #0b273d;

  .nav-utilities {
    float: right;
    .nav-item {
      .nav-link {
        color: white !important;
        font-size: 12px;
        font-weight: 600;

        .nav-user {
          height:  39.78px;
          min-width: 0px;
          @include small-screens-tweak {
            min-width: 0px;
          }
          @include small-screens {
            min-width: 0px;
          }

          .data-user-name {
            @include small-screens {
              display: none;
            }
          }

          .nav-image {
            height:  33.15px;
            width:  33.15px;
            border-radius: 50%;

            img {
              height: 100%;
              width: 100%;
              border-radius: 50%;
            }
          }
        }
      }

      .dropdown-menu {
        background: #0b273d;
        min-width: 9rem !important;
        left: -5vh !important;
        // left: -20px !important;

        // @include small-screens-tweak {
        //   position: fixed;
        //   top: 12%;
        //   width: 57% !important;
        //   left: 5px;
        //   right: 0px;
        // }
        @include small-screens {
          position: fixed;
          top: 20%;
          width: 90% !important;
          left: 5%;
          right: 0%;
        }

        a {
          color: white !important;
          font-size: 12px;

          &:hover {
            color: #0b273d !important;
          }

          &:focus {
            background: #0b273d;
          }
        }
      }
    }

    .dropdown {
      @include large-screens {
        margin-left: 0px !important;
        margin-right: 0px !important;
      }

      .dropdown-icon {
        cursor: pointer;
        color: white;
      }
    }
  }
}

// Special input
.special-input {
  // min-height: 8vh;
  background: white;

  input {
    background: inherit;
    border: none;
    font-size: 15px;
    font-weight: 600px !important;
    

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      font-size: 15px;
      color: lightgray;
    }
  }

  button {
    font-size: 15px;
    // height: 5vh;
    font-weight: bold;

    @include small-screens {
      margin-bottom: 10px;
      font-size: 12px;
    }
  }
}

// Footer styling
footer {
  min-height: 198.9px;
  background: rgb(11, 39, 61);

  .links-contact {
    min-height: 20vh;

    .tracker-copyright {
      display: flex;
      flex-direction: column;

      span {
        color: #e3e1e7be;
        font-size: 14px;
      }

      span:hover {
        color: white;
      }

      p {
        color: #e3e1e7be;
        font-size: 14px;
        margin-top: auto;
      }
    }

    .site-links {
      ul {
        li {
          @include footer-links;
        }
        a {
          color: #e3e1e7be;
          text-decoration: none;
          font-size: 14px;
        }
        a:hover {
          color: white;
        }
      }
    }

    .contact-details {
      ul {
        li {
          @include footer-links;          
        }
        a {
          color: #e3e1e7be;
          text-decoration: none;
          font-size: 14px;
        }
        li:hover, a:hover {
          color: white;
        }
      }
    }
  }

  .subscribe-social {
    .footer-subscribe {
      span {
        font-size: 14px;
        color: #e3e1e7be;
      }

      input {
        &::placeholder {
          font-size: 14px;
        }
      }

      button {
        font-size: 12px !important;
        font-weight: bold;
      }
    }

    .footer-social {
      .social-links {
        .link-con {
          background: #e3e1e7be;
          height: 30px;
          width: 30px;
          border-radius: 50%;

          img {
            height: 60%;
            width: 100%;
          }
          
        }
        .link-con:hover {
          background: white;
        }
        .sdn-link-con {
          background: #e3e1e7be;
          height: 30px;
          width: 30px;

          img {
            height: 100%;
            width: 100%;

          }
          
        }
        .sdn-link-con:hover {
          background: white;
        }
      }
    }
  }
}

// Loader styling
.loading-overlay {
  min-height: 100vh;
  background-color: rgba(11, 39, 61, 0.9)
}

.spinner-con {
  height: 10vh;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Dashboard User details section
.user-details {
  min-height: 15vh;

  .image-con {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    border: 1px solid lightgrey;

    img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }

  .data-con {
    @include small-screens {
      text-align: center !important;
    }

    p {
      font-size: 20px;
    }

    span {
      font-size: 14px;
    }
  }

  .shared-saved-data {
    p {
      font-size: 24px;
    }

    span {
      font-size: 12px;
      text-decoration: underline;
    }
  }
}

// Compact Project view
.project {
  min-height: auto;
  background: rgba(11, 39, 61, 0.05);
  border-radius: 5px;

  @include small-screens {
    padding: 10px !important;
  }

  .project-image {
    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }

  .project-details {
    .title-removefrom {
      max-height: 13vh;

      span {
        font-size: 10px;
        cursor: pointer;
        text-decoration: underline;
      }

      h5 {
        max-height: 12vh;
        word-wrap: break-word;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .activity-status {
      span {
        font-size: 12px;
      }

      .status-designed {
        color: white;
        background: #0b273d;
        font-size: 10px;
      }
    }

    .full-desc {
      p {
        font-size: 12px;
      }
    }

    .project-stats {
      p {
        font-size: 12px;

        span {
          color: rgba(11, 39, 61, 0.7);
          font-weight: bold;
        }
      }
    }

    .thumbs-comments {
      span {
        font-size: 12px;
      }
    }
  }
}

.that-blue {
  color: #0b273d;
}

.that-blue-filtered {
  color: rgba(11, 39, 61, 0.7);
}

.our-nav {
  .action-dropdown {
    height: 35vh;
    width: 30vw;

    @include large-screens {
      margin-left: -20vw;
    }

    @include small-screens {
      position: fixed;
      top: 15%;
      left: 5%;
    }
  }
}

.dropdown-menu {

  &::before,
  &::after {
    border: none !important;
    content: none !important;
  }
}

.indiv-info {
  height: 8vh;
}

.info-img {
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  background: white;
  cursor: pointer;


  img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }
}

.info-actual-con {
  &:hover {
    cursor: pointer;
    background: #e7e7e7;
    border-radius: 5px;
  }

  .info-words {
    font-size: 12px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .info-time {
    font-size: 10px;
    color: grey;
  }
}

.dropdown-body {
  max-height: 25vh;
}

.mark-as-read {
  cursor: pointer;
}

.dropdown-menu {
  .dropdown-top {
    span {
      color: grey;
      font-size: 10px;
      font-weight: bold;
    }
  }
}

.badge {
  position: absolute;
  top: -5px;
  right: 10px;
  padding: 5px;
  font-size: 8px;
  border-radius: 50%;
  background-color: red;
  color: white;
  cursor: pointer;
}

@include small-screens {
  .our-nav .action-dropdown {
    height: 35vh;
    width: 90vw;
    // margin-left: 0vw;
  }
}

#viewMessageModal {
  .modal-header {
    p {
      font-size: 10px;

      .sender {
        font-size: 16px;
        font-weight: bold;
        color: rgb(11, 39, 61);
      }
    }

    .time-received {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .message-title {
    font-weight: bold;
  }

  .full-message {
    font-size: 14px;
  }

  button {
    font-size: 12px;
  }
}

//Reviwer Style
.reviewerLink {
  display: none;
}

.track-login-user {
  display: none;
}


@media(max-width: 500px) {
  #navbarSupportedContent ul li a {
    font-size: 12px;
    margin: 0 !important;
  }

  #navbarSupportedContent ul li {
    margin-right: 0 !important;
  }
}
@media(max-width: 992px){
  .nav-utilities {
    flex-direction: row;
  }
}

.admin-nav {
  display: none;
}

.rate-color {
  color: gray;
  opacity: 0.5;
}

.checked {
  color: orange;
  opacity: 1;
}

.format-size {
  font-size: 15px !important;

  @include small-screens {
    font-size: 12px !important;
  }
}

.auth-header {
  font-size: 20px !important;

  @include small-screens {
    font-size: 15px !important;
  }
}
.custom-nav-link {
     margin-right: 5px !important;
     margin-left: 5px !important;
     @include small-screens {
      padding-right: 5px !important;
      padding-left: 5px !important;
      margin-right: 15px !important;
    }
}
