@import "media-queries";

.project-header {
  min-height: 13vh;
  background: rgba(11, 39, 61, 0.7);
  color: white;
}

.project-full {
  .nav-item {
    .nav-link {
      background-color: inherit;
      color: grey;
      border-radius: 0px;
      font-weight: 100;

      &.active {
        font-weight: bold;
        border-bottom: 3px solid grey;
      }
    }
  }

  .summary-section {
    .project-detailed {
      .stat-value {
        color: #0b273d;
      }

      min-height: 100vh;

      .project-data {
        // min-height: 50vh;
      }

      .location-image {

        // min-height: 50vh;
        div {

          // height: 50vh;
          img {
            height: auto;
            width: 100%;
          }
        }
      }

      .status-progress {

        // min-height: 25vh;
        .progress {
          height: 5vh;
          background: #0b273d;

          .progress-bar {
            background: #54d0ed;
          }
        }
      }

      .project-graph {
        .embedded-map {
          height: 70vh;

          iframe {
            height: 100%;
            width: 100%;
          }
        }
      }

      .budget-detail {
        height: auto;
        padding-left: 10px;
        padding-right: 10px;

        @include small-screens {
          padding: 0px;
        }

        .budget-table {
          min-height: 20vh;

          .budget-title {
            min-height: 5vh;
          }
        }
      }

      .project-gallery {
        min-height: 50vh;

        .project-image {
          height: 40vh;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .view-gallery-link {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .project-activity {
        div {
          cursor: pointer;
        }
      }
    }

    .comments-section {
      min-height: 100vh;

      .make-comment {
        min-height: 15vh;
        background: #0b273d;
        border-radius: 10px;

        .user-image {
          height: 12vh;
          width: 12vh;
          border-radius: 50%;

          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }
        }

        .comment-submit {
          textarea {
            background: #0b273d;
            color: white;
            border: none;
            border-bottom: 1px solid lightgrey;
            font-size: 12px;
            height: 6vh;

            &:focus {
              box-shadow: none;
              outline: none;
            }
          }

          button {
            height: 5vh;
          }

          .comment-utilities {
            div {
              height: 5vh;
              width: 5vh;
              border-radius: 50%;
              background: inherit;
              filter: brightness(0.7);

              &:hover {
                filter: brightness(1);
                cursor: pointer;
              }

              i {
                color: white;
              }
            }
          }
        }
      }

      .view-comments {
        max-height: 150vh;

        .comment-image {
          height: 12vh;
          width: 12vh;
          border-radius: 50%;

          @include small-screens {
            height: 6vh;
            width: 6vh;
          }

          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }
        }

        .media-body {
          .comment-actual {
            font-size: 14px;
            line-height: 2vh;
          }

          .comment-media {
            video {
              background: black;
              height: 100%;
              width: 100%;
              border-radius: 5px;
              height: 35vh;

              @include small-screens {
                height: 20vh;
              }
            }

            img {
              height: 100%;
              width: 100%;
              border-radius: 5px;
              height: 35vh;

              @include small-screens {
                height: 20vh;
              }
            }
          }

          .comment-activity {
            i {
              cursor: pointer;
            }
          }
        }

        .view-all-replies {
          color: #54d0ed;
        }

        .reply-input-con {
          min-height: 10vh;
          background: #0b273d;
          border-radius: 10px;

          textarea {
            background: #0b273d;
            color: white;
            border: none;
            border-bottom: 1px solid lightgrey;
            font-size: 12px;
            height: 6vh;

            &:focus {
              box-shadow: none;
              outline: none;
            }
          }

          .comment-utilities {
            div {
              height: 5vh;
              width: 5vh;
              border-radius: 50%;
              background: inherit;
              filter: brightness(0.7);

              &:hover {
                filter: brightness(1);
                cursor: pointer;
              }

              i {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .documents-section {
    min-height: 100vh;
  }

  .comment_entity {
    @include small-screens {
      text-align: right !important;
    }

    @include large-screens {
      text-align: center !important;
    }
  }
}

.comment-file-notify {
  display: none;
}

.comment-files-delete {
  display: none;
}

[data-comment-box]::-webkit-input-placeholder {
  color: white;
}

/*Place holder error for input */
.placeholder-sty::-webkit-input-placeholder {
  color: rgb(199, 173, 168);
}

.placeholder-sty-font {
  font-size: 12px !important;
}

.placeholder-sty-font::-webkit-input-placeholder {
  font-size: 12px !important;
  color: white;
}

.placeholder-sty::-webkit-input-placeholder {
  color: tomato;
}

#notification-tab {
  display: none;
}

[data-user-drop-box] {
  display: none;
}

.reply-input-off {
  display: none;
}

.hide-reply-btn {
  display: none;
}

.all-comment {
  display: none;
}

.custom-lightgreen {
  color: lawngreen !important;
}

.track-login-user {
  display: none;
}

.submit-rating {
  color: #0b273d;
  border: 1px solid #0b273d;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  font-size: 12px;
  padding-right: 12px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.strike {
  display: none;
}

.cancel-rating {
  color: red;
  border: 1px solid red;
  font-weight: bold;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  cursor: pointer;
  padding-right: 12px;

  &:hover {
    opacity: 0.8;
  }
}

.rate {
  font-size: 30px;
  cursor: pointer;

  @include small-screens {
    font-size: 15px;
  }
}

.info-rate {
  font-size: 10px;
  color: green;

  @include small-screens {
    display: block;
  }
}


.rate-command {
  color: black;
  text-decoration: underline;
  border-radius: 5px;
  font-weight: 850px !important;
  padding: 8px;
  font-size: 12px !important;
  display: none;

  @include small-screens {
    font-size: 10px;
    font-weight: bold;
  }
  &:hover {
    background: none !important;
  }
}

.p-date {
  color: grey;
  font-size: 12px;

  @include small-screens {
    font-size: 9px;
    font-weight: bold;
  }
}

#reportProjectModal {
  form {
    span {
      color: red;
      border: 1px solid transparent;
      border-bottom: 2px solid red;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
  }
    label {
      color: #0b273d;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
    }

    input,
    textarea,
    select {
      border: none;
      border-bottom: 2px solid #0b273d;
      font-size: 14px;
      border-radius: 0px;
      font-weight: bold;

      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.project-title {
  font-size: 15px !important;
  @include small-screens {
    font-size: 12px !important;
  }
}

.user-vote-status {
   span {
     font-size: 12px !important;
     padding: 2px 6px 2px 6px;
     margin: 2px;
     cursor: pointer;
     &:hover {
      background: #e6e6e6;
      box-shadow: none;
    }
     @include small-screens {
      font-size: 8px !important;
      margin: 1px;
      padding: 2px 5px 2px 5px;
    }
   }
}

.rate-command {
  color: black;
  text-decoration: underline;
  border-radius: 5px;
  font-weight: bold !important;
  padding: 8px;
  font-size: 12px !important;
  display: none;

  @include small-screens {
    font-size: 10px;
    font-weight: bold;
  }
  &:hover {
    background: none !important;
  }
}

.user_type {
  color: #0b273d !important;
  font-weight: bold !important;
  font-size: 8px !important;
}
